
/* 주문 상품 정보 card */
.product-card{
  min-height: 50vh;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 15px;
}
.product-options {
  color: gray;
}

/* 테마 폰트 컬러 */
.text-jasscoffee {
  color: var(--text-jass);
}