

/* 테마 폰트 컬러 */
.text-jasscoffee {
  color: var(--text-jass);
}

/* 테마 버튼 */
.btn-jasscoffee {
  background-color: var(--primary-color-jass);
  color: var(--text-light-jass);
  padding: var(--spacing-unit-jass) calc(var(--spacing-unit-jass) * 1.25);
  border-radius: 8px;
  border: none;
  font-weight: 500;
  transition: all var(--transition-speed-jass) ease-in-out;
  cursor: pointer;
  margin-top: var(--spacing-unit-jass);
}

.btn-jasscoffee:hover {
  background-color: var(--secondary-color-jass);
  transform: translateY(-2px);
}
